/*
.table{
    width:95%;
    text-align: center;
    background-color: #fff;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.table tr{
    width:100%;
    border: 1px solid #ddd;
}

.table td,th{
    padding: 10px;
    border: 1px #ddd solid;
}

.table th{
    background-color: #777;
}
*/